@CHARSET "UTF-8";
/*Login.jsp  */
 #login1{
	 border: 1px solid #FFFDDE;
     width: 690px;
     height:440px;
     margin: 0  auto;
      
     background-image: url(../images/denglu.png); 
}

#login_1{
	margin-top: 70px;
}

body p {
	text-align: right;
}

/* Register.jsp  */

#bu1{
	border: 0;
}

#bu1 a{
	cursor:pointer;
	color: black;
}

#bu1 a:HOVER{
	text-decoration:line-through;
	color:red;
}

#checkCode{

font-family:Arial,宋体;
font-style:italic;
color:green;
border:0;
padding:2px 3px;
letter-spacing:3px;
font-weight:bolder;
}



#reg1{
	margin-top: 12px;
}